@charset "utf-8";
/* CSS Document */
::-webkit-scrollbar{width: 5px; height:6px;}
::-webkit-scrollbar-button{background-color:rgb(81, 125, 161);}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;}
::-webkit-scrollbar{width: 6px;background-color: #F5F5F5;}
::-webkit-scrollbar-thumb{background-color: gray;}

html {
	font-size: 62.5%;
}
body{
  font-size: 1.4rem;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,body {
  padding: 0;
  margin: 0;
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
a:hover,
a:active,
.tile:active {
  outline: 0;
}


/* Input Elements */

table label{
	text-align:center;
	display:block;
}
select,input[type="search"],input[type=text],input[type=email],input[type=url],input[type=tel],input[type=number],input[type=time],input[type=password],input[type=date],textarea{
	width:98%;
	margin:0 auto;
	background-color: #ffffff;
	border:1px solid #cccccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	display: inline-block;
	height: 25px;
	padding: 4px 6px;	
	margin:5px 10px 10px 0px;
	font-size:14px;
	line-height:25px;
	color: #555555;
	vertical-align:middle;
	border-radius:0px;
	outline: 0;
	background:#FCFCFC;
}
select{
	height:35px;
	width:103%;
}
textarea{
	height:50px;
}
select:focus,input:focus,textarea:focus{
	border-color:#606c88;
	outline: thin dotted \9;
	box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075), 0 0 8px #606c88;
}
input[type="radio"],input[type="checkbox"]{
	
}



/*    Button   */

input[type="button"],input[type="reset"],input[type="submit"],button{
	display: inline-block;
	padding:4px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius:2px;
	margin:0 auto;
}
input[type="button"].command-button,input[type="reset"].command-button,input[type="submit"].command-button,button.command-button{
  font-size: 14pt;
}
input[type="button"].default,input[type="reset"].default,input[type="submit"].default,button.default{
  background-color: #008287;
  color: #fff;
}
input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,button:focus{
  outline: 0;
  border: 1px #353535 dotted;
  box-shadow:0px 0px 5px 1px #f1f1f1;
}
input[type="button"]:disabled,input[type="reset"]:disabled,input[type="submit"]:disabled,button:disabled,
input[type="button"].disabled,input[type="reset"].disabled,input[type="submit"].disabled,button.disabled {
  background-color: #eaeaea !important;
  color: #bebebe !important;
  cursor: not-allowed !important;
}
input[type="button"].primary,input[type="submit"].primary,button.primary{
  background-color: #16499a !important;
  color: #ffffff !important;
}
input[type="button"].info,input[type="submit"].info,button.info{
  background-color: #4390df !important;
  color: #ffffff !important;
}
input[type="button"].success,input[type="submit"].success,button.success{
  background-color: #60a917 !important;
  color: #ffffff !important;
}
input[type="button"].warning,input[type="submit"].warning,input[type="reset"].warning,button.warning{
  background-color: #fa6800 !important;
  color: #ffffff !important;
}
input[type="button"].danger,input[type="submit"].danger,input[type="reset"].danger,button.danger{
  background-color: #9a1616 !important;
  color: #ffffff !important;
}
input[type="button"].black,input[type="submit"].black,button.black{
  background-color: #1d1d1d !important;
  color: #ffffff !important;
}
input[type="button"].link,input[type="submit"].link,button.link{
  background-color: transparent !important;
  color: #2e92cf !important;
}
input[type="button"]:active,input[type="submit"]:active,input[type="reset"]:active,button:active{
  background-color: #1d1d1d !important;
  color: #ffffff !important;
  border-color: transparent;
}
input[type="button"].large,input[type="submit"].large,input[type="reset"].large,button.large{
  padding: 11px 19px;
  font-size: 17.5px;
}
input[type="button"].small,input[type="submit"].small,input[type="reset"].small,button.small{
  padding: 2px 10px;
  font-size: 11.9px;
}
input[type="button"].mini,input[type="submit"].mini,input[type="reset"].mini,button.mini{
  padding: 0px 6px;
  font-size: 10.5px;
}
.link:hover{
  text-decoration: underline;
}
.link:disabled,.link.disabled {
  background-color: transparent !important;
  color: #bebebe !important;
  cursor: not-allowed !important;
}
.button.link [class*="icon-"]{
  text-decoration: none !important;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.text-italic {
  font-style: italic;
}
.no-border {
  border: 0 !important;
}
.border {
  border: 1px #eaeaea solid;
}
.border-left {
  border-left: 1px #eaeaea solid;
}
.border-right {
  border-right: 1px #eaeaea solid;
}
.border-top {
  border-top: 1px #eaeaea solid;
}
.border-bottom {
  border-bottom: 1px #eaeaea solid;
}
.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}
.pos-fix {
  position: fixed;
}
.place-left {
  float: left;
}
.place-right {
  float: right;
}
.place-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.place-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.place-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.place-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.padding15 {
  padding: 15px;
}
.padding20 {
  padding: 20px;
}
.margin5 {
  margin: 5px;
}
.margin10 {
  margin: 10px;
}
.margin15 {
  margin: 15px;
}
.margin20 {
  margin: 20px;
}
/* margin 5px */
.rm5{margin-right:5px;}
.lm5{margin-left:5px;}
.tm5{margin-top:5px;}
.bm5{margin-bottom:5px;}
/* margin 20% */
.rm20{margin-right:20%;}
.lm20{margin-left:20%;}
.tm20{margin-top:20%;}
.bm20{margin-bottom:20%;}
/* margin 50% */
.rm50{margin-right:50%;}
.lm50{margin-left:50%;}
.tm50{margin-top:50%;}
.bm50{margin-bottom:50%;}
.nlm {
  margin-left: 0 !important;
}
.nrm {
  margin-right: 0 !important;
}
.ntm {
  margin-top: 0 !important;
}
.nbm {
  margin-bottom: 0 !important;
}
.nlp {
  padding-left: 0 !important;
}
.nrp {
  padding-right: 0 !important;
}
.ntp {
  padding-top: 0 !important;
}
.nbp {
  padding-bottom: 0 !important;
}
.no-margin {
  margin: 0  !important;
}
.no-padding {
  padding: 0  !important;
}
.no-float {
  float: none !important;
}
.block {
  display: block !important;
  float: none !important;
}
.hide, .no-display {
  display: none !important;
}
.scroll-y,
.scroll-vertical {
  overflow-y: scroll;
}
.scroll-x, .scroll-horizontal {
  overflow-x: scroll;
}
.no-overflow {
  overflow: hidden;
}
.overflow {
  overflow: scroll;
}
.one-column {
  columns: 1;
  column-gap: 20px;
}
.two-columns {
  columns: 2;
  column-gap: 20px;
}
.three-columns {
  columns: 3;
  column-gap: 20px;
}
.four-columns {
  columns: 4;
  column-gap: 20px;
}
.five-columns {
  columns: 5;
  column-gap: 20px;
}
.square5 {
  width: 5px;
  height: 5px;
}
.square10 {
  width: 10px;
  height: 10px;
}
.square15 {
  width: 15px;
  height: 15px;
}
.square20 {
  width: 20px;
  height: 20px;
}
.shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.opacity {
  opacity: .9;
}
.half-opacity {
  opacity: .5;
}
.clear{
  clear: both;
}
.text-rest-state {
  color: #000000;
}
.text-rest2-state {
  color: #000000;
}
.text-hover-state {
  color: rgba(0, 0, 0, 0.8);
}
.text-pressed-state {
  color: rgba(0, 0, 0, 0.4);
}
#font .light {
  font-weight: 300;
}
#font .normal {
  font-weight: normal;
  font-style: normal;
}
 #font .bold {
  font-weight: bold;
}
#font .italic {
  font-style: italic;
}

.header,
.subheader {
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #000000;
	letter-spacing: 0.00em;
	width:100%;
	text-align:center;
	padding:20px 0px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.header {
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.subheader {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
}
.subheader-secondary {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: #000000;
  font-size: 2.2rem;
  line-height: 2.2rem;
}
.item-title {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
}
.item-title-secondary {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
  color: #000000;
  font-size: 1.4rem;
  line-height: 1.4rem;
}


.menu-title {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  font-size: 4rem;
}
.menu-item {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: #000000;
  line-height: 2.2rem;
  font-size: 2.2rem;
}
.menu-item-secondary {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4rem;
}
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 10px 0;
}
h1 {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 4.8rem;
  line-height: 4.8rem;
}
h2 {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
}
h3 {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: #000000;
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: bold;
}
h4 {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
}
h5 {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
  color: #000000;
  font-size: 1.4rem;
  line-height: 1.4rem;
}
h6 {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 9pt;
}
h1 small {
  font-size: 19.25pt;
}
h2 small {
  font-size: 13.75pt;
}
h3 small {
  font-size: 11pt;
}
h4 small {
  font-size: 11pt;
}
a,.link {
  color: #2e92cf;
}
a:hover,.link:hover {
  color: rgba(45, 173, 237, 0.8);
}
a:focus,.link:focus,a:active,.link:active {
  color: rgba(45, 173, 237, 0.6);
}
div,span,p {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
p {
  margin: 0 0 7pt;
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
}
strong {
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.page {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.page:after {
  clear: both;
}
.span1,.size1 {
  width: 60px !important;
}
.span2,.size2 {
  width: 140px !important;
}
.span3,.size3 {
  width: 220px !important;
}
.span4,.size4 {
  width: 300px !important;
}
.span5,.size5 {
  width: 380px !important;
}
.span6,.size6 {
  width: 460px !important;
}
.span7,.size7 {
  width: 540px !important;
}
.span8,.size8 {
  width: 620px !important;
}
.span9,.size9 {
  width: 700px !important;
}
.span10,.size10 {
  width: 780px !important;
}
.span11,.size11 {
  width: 860px !important;
}
.span12,.size12 {
  width: 940px !important;
}


.offset1 {
  margin-left: 80px !important;
}
.offset1:not(:first-child) {
  margin-left: 100px !important;
}
.offset2 {
  margin-left: 160px !important;
}
.offset2:not(:first-child) {
  margin-left: 180px !important;
}
.offset3 {
  margin-left: 240px !important;
}
.offset3:not(:first-child) {
  margin-left: 260px !important;
}
.offset4 {
  margin-left: 320px !important;
}
.offset4:not(:first-child) {
  margin-left: 340px !important;
}
.offset5 {
  margin-left: 400px !important;
}
.offset5:not(:first-child) {
  margin-left: 420px !important;
}
.offset6 {
  margin-left: 480px !important;
}
.offset6:not(:first-child) {
  margin-left: 500px !important;
}
.offset7 {
  margin-left: 560px !important;
}
.offset7:not(:first-child) {
  margin-left: 580px !important;
}
.offset8 {
  margin-left: 640px !important;
}
.offset8:not(:first-child) {
  margin-left: 660px !important;
}
.offset9 {
  margin-left: 720px !important;
}
.offset9:not(:first-child) {
  margin-left: 740px !important;
}
.offset10 {
  margin-left: 800px !important;
}
.offset10:not(:first-child) {
  margin-left: 820px !important;
}
.offset11 {
  margin-left: 880px !important;
}
.offset11:not(:first-child) {
  margin-left: 900px !important;
}
.offset12 {
  margin-left: 960px !important;
}
.offset12:not(:first-child) {
  margin-left: 980px !important;
}


.row .span1 {
  width: 6.382978% !important;
}
.row .span2 {
  width: 14.893615% !important;
}
.row .span3 {
  width: 23.404252% !important;
}
.row .span4 {
  width: 31.914889% !important;
}
.row .span5 {
  width: 40.425526% !important;
}
.row .span6 {
  width: 48.936163% !important;
}
.row .span7 {
  width: 57.4468% !important;
}
.row .span8 {
  width: 65.957437% !important;
}
.row .span9 {
  width: 74.468074% !important;
}
.row .span10 {
  width: 82.978711% !important;
}
.row .span11 {
  width: 91.489348% !important;
}
.row .span12 {
  width: 99.999985% !important;
}


.row .offset1 {
  margin-left: 8.510637% !important;
}
.row .offset1:not(:first-child) {
  margin-left: 10.638296% !important;
}
.row .offset2 {
  margin-left: 17.021274% !important;
}
.row .offset2:not(:first-child) {
  margin-left: 19.148933% !important;
}
.row .offset3 {
  margin-left: 25.531911% !important;
}
.row .offset3:not(:first-child) {
  margin-left: 27.65957% !important;
}
.row .offset4 {
  margin-left: 34.042548% !important;
}
.row .offset4:not(:first-child) {
  margin-left: 36.170207% !important;
}
.row .offset5 {
  margin-left: 42.553185% !important;
}
.row .offset5:not(:first-child) {
  margin-left: 44.680844% !important;
}
.row .offset6 {
  margin-left: 51.063822% !important;
}
.row .offset6:not(:first-child) {
  margin-left: 53.191481% !important;
}
.row .offset7 {
  margin-left: 59.574459% !important;
}
.row .offset7:not(:first-child) {
  margin-left: 61.702118% !important;
}
.row .offset8 {
  margin-left: 68.085096% !important;
}
.row .offset8:not(:first-child) {
  margin-left: 70.212755% !important;
}
.row .offset9 {
  margin-left: 76.595733% !important;
}
.row .offset9:not(:first-child) {
  margin-left: 78.723392% !important;
}
.row .offset10 {
  margin-left: 85.10637% !important;
}
.row .offset10:not(:first-child) {
  margin-left: 87.234029% !important;
}
.row .offset11 {
  margin-left: 93.617007% !important;
}
.row .offset11:not(:first-child) {
  margin-left: 95.744666% !important;
}
.row .offset12 {
  margin-left: 102.127644% !important;
}
.row .offset12:not(:first-child) {
  margin-left: 104.255303% !important;
}
a{
	text-decoration:none;
}